### This notbooke is intended to summarize the potential questions for python and pandas related topics.
* Python and Pandas related is a wide topic and this notebook may not be that comprehensive but will be updated time by time.
* starting related questions would be python, pandas etc.
* May or may not include something really basic

In [1]:
import pandas as pd
import numpy as np

#### Q1. How to manipulate python list? How to get unique value list of a list? What is different between list and tuple?

In [2]:
ls_x = ['a', 'b', 'c', 'a', 'b']
ls_x_unique = list(set(ls_x))
print(ls_x_unique)

['a', 'b', 'c']

#### Q2. How to create a dictionary? how to print out the values only? how to print key values which their values match certain values?

In [3]:
dict_p = {'tom': 'python', 'jerry': 'c++', 'lucy': 'jave', 'mandy': 'go', 'amy': 'r', 'peter': 'python'}
dict_p.values()

dict_values(['python', 'c++', 'jave', 'go', 'r', 'python'])

In [4]:
for k, v in dict_p.items():
    print('{} knows language {}'.format(k,v))

tom knows language python
jerry knows language c++
lucy knows language jave
mandy knows language go
amy knows language r
peter knows language python

In [5]:
[k for k,v in dict_p.items() if v =='python']

['tom', 'peter']

#### Q3. Pandas related questions

##### Q3.1. How to create a pandas dataframe?

In [6]:
dict_p

{'tom': 'python',
 'jerry': 'c++',
 'lucy': 'jave',
 'mandy': 'go',
 'amy': 'r',
 'peter': 'python'}

In [7]:
# ### This does not work because the column value is not in a list? so the key is not index???
# df_p = pd.DataFrame(data = dict_p)

In [8]:
dict_p_new = {'tom': ['python'], 'jerry': ['c++'], 'lucy': ['jave'], 'mandy': ['go'], 'amy': ['r'], 'peter': ['python']}
df_p = pd.DataFrame(data = dict_p_new)
df_p

      tom jerry  lucy mandy amy   peter
0  python   c++  jave    go   r  python

In [9]:
df_v = pd.DataFrame(data = np.array([[1,2,3], [4,5,6], [7,8,9]]), columns = ['a', 'b', 'c'])
df_v

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [10]:
other = pd.DataFrame({'angles': [0, 3, 4]},index=['circle', 'triangle', 'rectangle'])
other

           angles
circle          0
triangle        3
rectangle       4

##### Q3.2. How to slice df?

In [11]:
df_v.shape

(3, 3)

In [12]:
df_v[2:3]

   a  b  c
2  7  8  9

In [13]:
df_v[['a','c']]

   a  c
0  1  3
1  4  6
2  7  9

In [14]:
df_v.iloc[1:2, [0,2]]

   a  c
1  4  6

In [15]:
df_v.iloc[2, 1]

8

##### Q3.3. why need to make a copy of df?

In [16]:
df_v

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [17]:
df_vc = df_v.copy()
df_vv = df_v

In [18]:
df_vc == df_v

      a     b     c
0  True  True  True
1  True  True  True
2  True  True  True

In [19]:
df_v.iloc[2,1] = 888
df_v

   a    b  c
0  1    2  3
1  4    5  6
2  7  888  9

In [20]:
df_vc == df_v

      a      b     c
0  True   True  True
1  True   True  True
2  True  False  True

In [21]:
df_vv

   a    b  c
0  1    2  3
1  4    5  6
2  7  888  9

In [22]:
Name = ['tom', 'kris', 'nick', 'julie']
Age = [25, 30, 26, 22]
list_of_tuples = list(zip(Name, Age))
df_i = pd.DataFrame(list_of_tuples,
                  columns = ['Name', 'Age'])
df_i

    Name  Age
0    tom   25
1   kris   30
2   nick   26
3  julie   22

##### Q3.4. How to check value frequencies/missing/0 etc. values in a dataframe?

In [23]:
df_c = pd.DataFrame(data = np.array([[1,2,3, 0, 77, 'a'], [4, None, 0, 5,6,'c'], [88, 66, 7,8,9,None], \
                                     [88, None, 7,None,9, 'a']]), columns = ['a', 'b', 'c', 'd', 'e', 'p'])
df_c

    a     b  c     d   e     p
0   1     2  3     0  77     a
1   4  None  0     5   6     c
2  88    66  7     8   9  None
3  88  None  7  None   9     a

In [24]:
df_c.p.value_counts(dropna=False)

a      2
c      1
NaN    1
Name: p, dtype: int64

In [25]:
df_c.isnull().sum()

a    0
b    2
c    0
d    1
e    0
p    1
dtype: int64

In [26]:
df_c.isnull().sum().sum()

4

In [27]:
df_c.isnull().any()

a    False
b     True
c    False
d     True
e    False
p     True
dtype: bool

In [28]:
### for how many missing in a row, may need to loop through rows?
for i in range(df_c.shape[0]):
    print('There is {} missing values in row {}'.format(df_c.iloc[i].isnull().sum(), i))

There is 0 missing values in row 0
There is 1 missing values in row 1
There is 1 missing values in row 2
There is 2 missing values in row 3